.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.page-not-found img {
    margin-top: 100px;
    margin-bottom: 50px;
    /* width: 150px; */
    height: 150px;
}

.page-not-found p {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    font-size: 30px;
    font-weight: 700;
}

.page-not-found .home-link {
    text-align: none;
}